.hero-section {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -65px;
  padding-top: 65px;
  h2 {
    color: #fff;
    font-size: 10rem;
    margin: 0px;
  }
  .des-box {
    width: 100%;
    max-width: 500px;
    background-color: rgba(200, 200, 200, 0.1);
    p {
      color: #fff;
      font-size: 2rem;
    }
  }
}
