<div
  class="hero-section"
  [ngStyle]="{ 'background-image': 'url(' + hero.imgHero.src + ')' }"
>
  <div class="des-box">
    <img
      class="title"
      src="{{ hero.imgTitle.src }}"
      alt="{{ hero.imgTitle.alt }}"
    />
    <p>{{ hero.description }}</p>

    <div class="buttons">
      <button
        class="play"
        label="Play"
        pButton
        type="button"
        icon="pi pi-play"
        iconPos="left"
      ></button>
      <button
        class="list"
        label="My List"
        pButton
        type="button"
        icon="pi pi-plus"
        iconPos="left"
      ></button>
    </div>
  </div>
</div>
