.hero-section {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -85px;
  padding-top: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .des-box {
    width: 100%;
    max-width: 535px;
    margin-left: 60px;
    img.title {
      width: 100%;
      max-width: 450px;
      margin-bottom: 50px;
    }
    p {
      color: #fff;
      font-size: 1.5rem;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .buttons {
      margin-top: 25px;
    }
  }
}
