.film-section {
  background-color: black;
  padding: 0px 60px;
  h2.films {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: -20px;
  }

  .single-film {
    img {
      width: 100%;
      max-width: 200px;
      // min-width: 120px;
      margin-right: 15px;
    }
  }
}
